@font-face{
  font-family:"PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family:"PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html{
  height: 100vh;
}

body{
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  color: #333333;
  background-color: #f2f2f2;

  margin: 0;
}

.wrapper{
  width:1200px;
  margin: auto;

  min-height: 100vh;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

}

.header{
  display: flex;
  padding: 0 70px;
  position: relative;
}

.main-navigation{
  display: flex;
  width: 1200px;

}

.logo{
  display: block;
  position: absolute;
  z-index: 1;
}

.logo:focus-visible{
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.navigation-list{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 238px;
  min-height: 64px;

  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: center;
  gap: 30px;

}

.navigation-link{
  color: #000000;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 20px 0 17px;

}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
  outline: none;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.current-link::before{
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  height: 2px;
  background-color: #756157;
}

.user-list{
  list-style: none;
  padding-left: 0;
  margin: 0;
  width: 268px;

  display: flex;
  flex-wrap: wrap;
  align-content: center;

  position: relative;
}

.user-link{
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 12px;

  background-repeat: no-repeat;
  background-position: center;
}

.user-link:hover {
  opacity: 0.6;
}

.user-link:focus {
  outline: none;
  opacity: 0.6;
}

.user-link:focus-visible{
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.user-link:active {
  opacity: 0.3;
}



.user-link-search{
  background-image: url(../images/icon-search.svg);
}

.user-link-favorites{
  position: relative;
  background-image: url(../images/icon-in-favorites.svg);
}

.user-favorites-num{
  display: grid;
  place-items: center;

  width: 20px;
  height: 20px;

  position: absolute;
  left: 20px;
  bottom: 23px;

  background-color: #7DB54F;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.user-item-button{
  position: absolute;
  top: 14px;
  left: 108px;
}

.user-button{
  border-radius:4px;
  padding: 8px 34px;
  display: grid;
  place-items: center;
}

/* .user-button:hover{
  background-color: #615048;
}

.user-button:focus{
  background-color: #615048;

}

.user-button:focus-visible{
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.user-button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
} */

.button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}


.user-button:disabled{
  background-color: #e5e5e5;
  pointer-events: none;
}


.user-button,
.product-card-more
{
  background-color: #756157;
}

/* --------------------------------------------------------------------- */

.hero{
  background-color: #d9eaf2;
  background-image: url(../images/background-header.png);
  background-repeat: no-repeat;

  padding: 51px 70px 82px;
  position: relative;
}

.welcome{
  display: block;
  margin: auto;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 100%;
  height: 57px;

  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
}

.advantages{
  display: flex;
  flex-direction: column;
}

.advantages-description{

  padding: 69px 70px 90px;

}

.main-page{
  min-height: 100%;
}

.main-page-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.description-text{
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  text-align: center;
}

.item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}
.advantages-wrapper .advantages-item-title-content::after{
  background-color: #ffffff;
}

.advantages-wrapper{
  max-width: 400px;
  min-height: 385px;
  text-align: center;
  box-sizing: border-box;
}

.item-title::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  opacity: 0.3;
}

.main-page-text{
  margin: 0;
}

.advantages-item-image-content{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}




.advantages-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-wrapper{
  padding: 100px 92px;
  text-align: center;
}

.advantages-item{
  padding: 102px 85px;
  max-width: 400px;
  min-height: 385px;
  text-align: center;
  box-sizing: border-box;
}

.advantages-item-content{
  background-color: #82B3D3;
  display: flex;
}


.advantages-item-text{
  margin: 0;
}

.advantages-image-content{
  display: block;
}

.advantages-item-title-content,
.advantages-item-text-content
{
  color:#ffffff;
}


.advantages-list :nth-of-type(3){
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list :nth-of-type(2),
.advantages-list :nth-of-type(4)
{
  background-color: rgba(131, 179, 211, 0.12);
}

/* ----------------------------------------------------------- */

.services{
  display: flex;
  flex-direction: column;
}

.services-description{
  padding: 64px 70px;
}

.services-list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-item{
  max-width: 400px;
  min-height: 385px;
  padding: 173px 81px 85px;
  background-repeat: no-repeat;
  background-position: top 82px center;
  box-sizing: border-box;
}

.services-item-title{
  margin: 0 auto 30px;
  text-align: center;
}

.services-item-home{
  background-image: url(../images/icon-home.svg);
}

.services-item-food{
  background-image: url(../images/icon-burger.svg);
}

.services-item-souvenir{
  background-image: url(../images/icon-present.svg);
}

.services-item-text{
  text-align: center;
}

.services-item:first-child{
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2){
  background-color: #ffffff;
}

.services-item:last-child{
  background-color: rgba(131, 179, 211, 0.12);
}

/* ---------------------------------------------------------------------- */

.search{
  padding: 93px 70px;
}

.search-button{
  display: block;
  border-radius: 4px;

  font-size: 20px;
  line-height: 36px;

  max-width: 276px;
  min-height: 36px;

  padding: 8px 50px;
  margin: auto;
  margin-top: 54px;
  background-color: #756157;
}

.search-button:hover{
  background-color: #615048;
}

.search-button:focus{
  background-color: #615048;
}

.search-button:focus-visible{
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.search-button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

/* ---------------------------------------------------------------------- */

.subscribe{
  background-color: #82B3D3;
  background-image: url(../images/background-subscribe.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 70px 104px;
}


.subscribe-form{
  display: flex;
}

.subscribe-title{
  margin-bottom: 20px;
  color:#ffffff;
}

.subscribe-text{
  margin-bottom: 54px;
  color:#ffffff;
}

.subscribe-input{
  font-size: 18px;
  line-height: 24px;
  border: none;
  width: 452px;
  min-height: 52px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.subscribe-input:hover{
  background-color:  #E6E6E6;
}

.subscribe-input:focus{
  background-color:  #E6E6E6;
  outline: none;

}
.subscribe-input:active{
  background-color:  #E6E6E6;
}


.subscribe-button{
  max-width: 232px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
}

.subscribe-button:hover{
  background-color:#68A2CA;
}

.subscribe-button:focus{
  background-color:#68A2CA;
  outline: none;

}

.subscribe-button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}


.product-card-more{
  padding: 8px 26px;
  border-radius: 4px;
}

.product-card-favorites{
  padding: 8px 20px;
  border-radius: 4px;
}

.product-card-in-favorites{
  padding: 8px 18px;
  border-radius: 4px;
}

/* ---------------------------------------------------------------------- */

.footer{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 30px 70px;
}

.social-list{
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-link{
  display: block;
  width: 48px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  color:#82B3D3;
}

.social-icon{
  fill: currentColor;
  padding: 12px;
}

.social-link:hover{
  color: #68A2CA;
}

.social-link:focus{
  color: #68A2CA;
  outline: none;
}

.social-link:focus-visible{
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.social-link:active{
  color: rgba(104, 162, 202, 0.3);
}

/* --------------------------------------------------- */

.phone{
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.phone:hover{
  color:#756157;
}
.phone:focus{
  color:#756157;
  outline: none;
}
.phone:active{
  color:rgba(117, 97, 87, 0.3);

}


.developer{
  display: block;
  width: 115px;
  height: 33px;
  color:#000000;
}

.developer-icon{
  fill: currentColor;
}

.developer:hover{
  color: #756157;
}

.developer:focus{
  color: #756157;
  outline: none;
}

.developer:active{
  color: rgba(117, 97, 87, 0.3);
}




/*------------------------- Catalog -------------------------*/

.catalog{
  padding: 0 70px;
}

.catalog-title{
  font-size: 64px;
  line-height: 78px;
  margin: 0;
}

.main-inner-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

/* --------------------------------- */

.bread-crumbs-list{
  display: flex;
  margin: 0;
  margin-bottom: 40px;
}

.bread-crumbs-list{
  list-style: none;
  padding: 0;
}

.bread-crumbs-item:not(:last-child) {
    position: relative;
    margin-right: 28px;
}
.bread-crumbs-item:not(:last-child)::after{
  content: "";
  position: absolute;
  top: 50%;
  right: -17px;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.bread-crumbs-link{
  display: block;
  background-position: center;
  background-image: url(../images/icon-bread-crumbs.svg);
  width: 12px;
  height: 12px;
  padding: 6px;
  background-repeat: no-repeat;
}

.bread-crumbs-link-hotels{
  text-decoration: none;
  color:#ffffff;
  font-size: 16px;
  line-height: 21px;
}

.bread-crumbs-link-hotels:hover{
   color: rgba(255, 255, 255, 0.6);

}

.bread-crumbs-link-hotels:focus{
  color:#ffffff;
}

.bread-crumbs-link-hotels:active{
  color: rgba(255, 255, 255, 0.3);
}
/* --------------------------------- */

.filter{
  background-color: #7fbaff;
  background-image: url(../images/background-filter.png);
  background-size: cover;
  color:#ffffff;

  padding: 35px 70px 70px;
}

.filter-list{
  list-style: none;
  padding: 0;
}

.filter-form{
  display: flex;
}

.filter-form-group{
  border: none;
  margin: 0;
  padding: 0;
}

.filter-form-group-check{
  margin-right: 70px;
}

.filter-list{
  margin: 0;
}

.filter-title{
  padding-bottom: 32px;
}

.filter-item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: start;
  padding-bottom: 16px;
}

/* -----------------------Инфрастуктура------------ */

.input-check{
  width: 20px;
  height: 20px;
  margin: 0;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-check[type="checkbox"]:checked {
  background-image: url("../images/check-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input-check:hover,
.input-check:hover + .label-check {
  opacity: 0.6;
}

.input-check:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.input-check:active,
.input-check:active + .label-check {
  opacity: 0.3;
}

.input-check:disabled,
.input-check:disabled + .label-check {
  opacity: 0.3;

  pointer-events: none;
}

/* --------------------------------------------- */

/* ----------------------Тип жилья-------------- */

.filter-form-group-radio{
  margin-right: 140px;
}

.input-radio[type="radio"] {
  border-radius: 50%;
}

.input-radio{
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #ffffff;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.input-radio[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.input-radio:hover,
.input-check:hover + .label-radio {
  opacity: 0.6;
}

.input-radio:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.input-radio:active,
.input-radio:active + .label-radio {
  opacity: 0.3;
}

.input-radio:disabled,
.input-radio:disabled + .label-radio {
  opacity: 0.3;

  pointer-events: none;
}

/* --------------------------------------------- */

.filter-form-group-price{
  margin-right: 70px;
  display: flex;
  column-gap: 2px;
  position: relative;
}

.input-price{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 100px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

.input-price-from{
  border-radius: 4px 0 0 4px;
}

.label-price-from{
  position: absolute;
  left: 100px;
  top: 12px;
}

.input-price-to{
  border-radius: 0 4px 4px 0;
}

.label-price-to{
  position: absolute;
  left: 250px;
  top: 12px;
}

.label-price{
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-button-group{
  display: grid;
  grid-template-rows: max-content 1fr 1fr;


}

.button-send{
  padding: 8px 50px;
  border-radius: 4px;
  margin-top: 54px;
  margin-bottom: 32px;
}

.button-send:hover{
  background-color:#68A2CA;
}

.button-send:focus{
  background-color:#68A2CA;
  outline: none;
}

.button-send:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-reset {
  background-color: transparent;
  padding: 8px 50px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;

}

.button-reset:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}


.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);

  background-color: transparent;
}

/* ------------------------------------------------------- */

.search-results-title{
  font-size: 30px;
  line-height: 36px;
  color:#000000;
  margin: auto;
}

.catalog-sorting{
  display: flex;
  align-items: center;
  padding: 50px 0 40px 0;

}

.search-results-title{
  padding-right: 200px;
}

.search-results-select{
  min-width: 292px;
  padding: 14px 20px;
  margin-right: 70px;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.display-view-list{
  display: flex;
  width: 160px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.display-view-list li{
  width: 52px;
  height: 52px;
}

.button-view{
  border-radius: 4px;
  padding: 24px;
  background-repeat: no-repeat;

  display: block;
  background-position: center;
}

.button-view-card{
  background-image: url(../images/icon-view-card.svg);
  border: 2px solid #000000;
}

.button-view-preview{
  background-image: url(../images/icon-view-preview.svg);
  border: 2px solid #E5E5E5;
}

.button-view-list{
  background-image: url(../images/icon-view-list.svg);
  border: 2px solid #E5E5E5;
}

.product-card-in-favorites{
  background-color: #7DB54F;
}

.catalog-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

  border-bottom: 1px solid #e6e6e6;

}

.catalog-item{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;

  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.product-card-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color:#000000;
  text-decoration: none;
  grid-column: 1/3;
  grid-row-start: 2;
}

.product-card{
  grid-column: 1 / -1;
  grid-row-start: 1;
  margin: 0;
}
.product-card-img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hotel-rating{
  padding: 10px;
  border-radius: 4px;
  background-color: #F2F2F2;
  text-align: center;
}

.product-card-text-price
{
  text-align: right;
}

.product-card-title,
.product-card-text,
.product-card-text-price,
.hotel-rating
{
  margin: 0;
}


/* --------------------------------- */

.pagination-list{
  list-style: none;
  margin: 0;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link{
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current{
  background-color:rgba(242, 242, 242, 1);
}

.pagination-link{
  display: block;
  padding: 12px;
  min-width: 60px;

  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  box-sizing: border-box;
  text-align: center;

}

.pagination-current{
  color:#000000;
}

.pagination-points{
  background:none;
}


.pagination-points{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color:#000000;
}

.subscribe-inner{
  background: none;
}

.subscribe-inner-title{
  margin-bottom: 20px;
}

.subscribe-inner-text {
  text-align: center;
  margin-bottom: 54px;
}
